{% extends "patato/base.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="Query"/>
    </form>
    {% if movies %}
        Please choose movies you want to import:
        <form action="/enable_movie" method="post">

        {% for movie in movies %}
            <input type="checkbox" name="vehicle" value="{{ movie.0 }}"> {{ movie.1 }}
            {% if movie.2 %}
                <span class="glyphicon glyphicon-ok" style="color:blue"></span>
            {% endif %}
            <br>
        {% endfor %}

        <input type="submit" value="Input"/>
    {% endif %}

{% endblock %}